/* variables */
.availability-calendar-wrapper {
    --border: #DDDDDD;
    --color: #212121;
    --default: #E8E8E8;
    --available: #FFFFFF;
    --unavailable: #E8E8E8;
    --preselected: #C1E2B9;
    --selected: #6AB044;
    --conflict: #F06A6A;
}

/* structure */
.availability-calendar {
    box-sizing: border-box;
    clear: both;
    display: block;
    margin: 0 auto 16px;
}

.availability-calendar .ui-datepicker-header {
    position: relative;
    padding-bottom: 0.75em;
}

.availability-calendar .ui-datepicker-prev {
    position: absolute;
    top: 0;
    left: 0;
}

.availability-calendar .ui-datepicker-next {
    position: absolute;
    top: 0;
    right: 0;
}

.availability-calendar .ui-datepicker .ui-icon {
    cursor: pointer;
    display: block;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
}

.availability-calendar .ui-datepicker .ui-state-disabled .ui-icon {
    cursor: default;
    opacity: 0.35;
}

.availability-calendar .ui-datepicker .ui-icon:before {
    display: inline-block;
    content: "";
    margin-right: 1em;
    height: 0;
    width: 0;
    opacity: 0.65;
}

.availability-calendar .ui-datepicker .ui-icon.ui-icon-circle-triangle-w:before {
    border-top: 0.5em solid transparent;
    border-bottom: 0.5em solid transparent;
    border-right: 0.5em solid;
}

.availability-calendar .ui-datepicker .ui-icon.ui-icon-circle-triangle-e:before {
    border-top: 0.5em solid transparent;
    border-bottom: 0.5em solid transparent;
    border-left: 0.5em solid;
}

.availability-calendar .ui-datepicker-calendar {
    border-collapse: collapse;
    border: 1px solid var(--border);
    margin: 0 auto;
    width: auto;
}

.availability-calendar .ui-datepicker-calendar th,
.availability-calendar .ui-datepicker-calendar td {
    box-sizing: border-box;
    border: 1px solid var(--border);
    padding: 0.25em;
    height: 3em;
    width: 3em;
}

.availability-calendar .ui-datepicker-calendar th {
    height: 2em;
}

/* multiple calendars */
/*noinspection DuplicatedCode*/
.availability-calendar .ui-datepicker-multi {
    box-sizing: border-box;
    clear: both;
    display: flex !important;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-evenly;
    align-items: flex-start;
    max-width: 100%;
    min-width: 100%;
    width: 100% !important;
}

.availability-calendar .ui-datepicker-multi .ui-datepicker-group {
    flex: 0 1 auto;
    align-self: auto;
}

.availability-calendar .ui-datepicker-multi .ui-datepicker-row-break {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}

/* typography */

.availability-calendar .ui-datepicker-header {
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
}

.availability-calendar .ui-datepicker-calendar th,
.availability-calendar .ui-datepicker-calendar td {
    font-size: 14px;
    font-weight: lighter;
    line-height: 1.25;
    text-align: center;
    vertical-align: middle;
}

.availability-calendar .ui-datepicker-calendar th.ui-datepicker-week-end,
.availability-calendar .ui-datepicker-calendar td.ui-datepicker-week-end {
    font-weight: bold;
}

.availability-calendar .ui-datepicker-calendar a,
.availability-calendar .ui-datepicker-prev,
.availability-calendar .ui-datepicker-next {
    color: inherit;
    text-decoration: none;
}

.availability-calendar .ui-datepicker-calendar .rate {
    display: block;
    font-size: 0.675em;
    opacity: 0.65;
    white-space: nowrap;
}

/* defaults */
.availability-calendar .ui-datepicker-calendar td {
    cursor: default;
}

.availability-calendar .ui-datepicker-calendar td:not([class*="unselectable"]) {
    cursor: pointer;
}

.availability-calendar .ui-datepicker-calendar td.ui-datepicker-unselectable > .ui-state-default {
    opacity: .65;
}

.availability-calendar .ui-datepicker-calendar td {
    background-color: var(--default);
}

/* ui logic */

.calendar-highlight {
    opacity: 1;
}

.calendar-highlight > input {
    background-color: #FFFFFF !important;
    border: 1px solid #000000 !important;
    color: #000000;
}

.calendar-deem {
    opacity: .65;
}

.availability-calendar .ui-datepicker-calendar td.arrival-available.departure-available {
    background-image: linear-gradient(to right bottom, var(--available) 50%, var(--available) 50%);
}

.availability-calendar .ui-datepicker-calendar td.arrival-available.departure-unavailable {
    background-image: linear-gradient(to right bottom, var(--unavailable) 50%, var(--available) 50%);
}

.availability-calendar .ui-datepicker-calendar td.arrival-unavailable.departure-available {
    background-image: linear-gradient(to right bottom, var(--available) 50%, var(--unavailable) 50%);
}

.availability-calendar .ui-datepicker-calendar td.arrival-unavailable.departure-unavailable {
    background-image: linear-gradient(to right bottom, var(--unavailable) 50%, var(--unavailable) 50%);
}

/* arrival */
.availability-calendar .ui-datepicker-calendar td.selected-arrival.departure-available {
    background-image: linear-gradient(to right bottom, var(--available) 50%, var(--selected) 50%);
}

.availability-calendar .ui-datepicker-calendar td.selected-arrival.departure-unavailable {
    background-image: linear-gradient(to right bottom, var(--unavailable) 50%, var(--selected) 50%);
}

.availability-calendar .ui-datepicker-calendar td.selected-arrival.arrival-conflict.departure-available {
    background-image: linear-gradient(to right bottom, var(--available) 50%, var(--conflict) 50%);
}

.availability-calendar .ui-datepicker-calendar td.selected-arrival.arrival-conflict.departure-unavailable {
    background-image: linear-gradient(to right bottom, var(--unavailable) 50%, var(--conflict) 50%);
}

/* departure */
.availability-calendar .ui-datepicker-calendar td.selected-departure.arrival-available {
    background-image: linear-gradient(to right bottom, var(--selected) 50%, var(--available) 50%);
}

.availability-calendar .ui-datepicker-calendar td.selected-departure.arrival-unavailable {
    background-image: linear-gradient(to right bottom, var(--selected) 50%, var(--unavailable) 50%);
}

.availability-calendar .ui-datepicker-calendar td.selected-departure.departure-conflict.arrival-available {
    background-image: linear-gradient(to right bottom, var(--conflict) 50%, var(--available) 50%);
}

.availability-calendar .ui-datepicker-calendar td.selected-departure.departure-conflict.arrival-unavailable {
    background-image: linear-gradient(to right bottom, var(--conflict) 50%, var(--unavailable) 50%);
}

/* selected stay */
.availability-calendar .ui-datepicker-calendar td.selected-stay:not([class*="conflict"]) {
    background-image: linear-gradient(to right bottom, var(--selected) 50%, var(--selected) 50%);
}

.availability-calendar .ui-datepicker-calendar td.selected-stay.stay-conflict {
    background-image: linear-gradient(to right bottom, var(--conflict) 50%, var(--conflict) 50%);
}

.availability-calendar .ui-datepicker-calendar td.selected-stay.arrival-conflict {
    background-image: linear-gradient(to right bottom, var(--selected) 50%, var(--conflict) 50%);
}

.availability-calendar .ui-datepicker-calendar td.selected-stay.departure-conflict {
    background-image: linear-gradient(to right bottom, var(--conflict) 50%, var(--selected) 50%);
}

/* minimum stay requirement */
.availability-calendar .ui-datepicker-calendar td.selected-arrival.departure-available.minimum-stay-requirement {
    background-image: linear-gradient(to right bottom, var(--available) 50%, var(--preselected) 50%);
}

.availability-calendar .ui-datepicker-calendar td.selected-arrival.departure-unavailable.minimum-stay-requirement {
    background-image: linear-gradient(to right bottom, var(--unavailable) 50%, var(--preselected) 50%);
}

.availability-calendar .ui-datepicker-calendar td.selected-stay:not([class*="conflict"]).minimum-stay-requirement {
    background-image: linear-gradient(to right bottom, var(--preselected) 50%, var(--preselected) 50%);
}

.availability-calendar .ui-datepicker-calendar td.selected-departure.arrival-available.minimum-stay-requirement {
    background-image: linear-gradient(to right bottom, var(--preselected) 50%, var(--available) 50%);
}

.availability-calendar .ui-datepicker-calendar td.selected-departure.arrival-unavailable.minimum-stay-requirement {
    background-image: linear-gradient(to right bottom, var(--preselected) 50%, var(--unavailable) 50%);
}

/* CALENDAR LEGEND */
.availability-calendar-help {
    font-size: 14px;
    font-weight: lighter;
    margin: 1.5em auto 0.5em;
}

.availability-calendar-help.state-open {
    margin-bottom: 1.5em;
}

.availability-calendar-help .help-inner {
    display: none;
}

.availability-calendar-help.state-open .help-inner {
    border: 1px solid var(--border);
    display: block;
    padding: 0.5em 0.75em;
}

.availability-calendar-help p.help-button-wrapper {
    margin-bottom: 0;
    text-align: right;
}

.availability-calendar-help.state-open p.help-button-wrapper {
    margin-bottom: 1em;
}

.availability-calendar-help .help-button {
    cursor: pointer;
}

.availability-calendar-help .help-button:before {
    border-top: 0.25em solid transparent;
    border-bottom: 0.25em solid transparent;
    border-right: 0.25em solid;
    display: inline-block;
    content: "";
    margin-right: 0.5em;
    position: relative;
    top: -0.125em;
    height: 0;
    width: 0;
    opacity: 0.35;
    vertical-align: middle;
}

.availability-calendar-help.state-open .help-button:before {
    border-left: 0.25em solid transparent;
    border-right: 0.25em solid transparent;
    border-top: 0.25em solid;
    margin-right: 0.25em;
    top: 0;
    opacity: 0.85;
}

.availability-calendar-help p.legend-item {
    margin-bottom: 5px;
}

.availability-calendar-help .legend-icon {
    border: 1px solid var(--border);
    color: var(--color);
    display: inline-block;
    margin-right: 0.5em;
    height: 1.75em;
    width: 2.25em;
    text-align: center;
}

.availability-calendar-help .legend-icon-available,
.availability-calendar-help .legend-icon-not-allowed {
    background-color: var(--available);
}

.availability-calendar[data-state="arrival"] td.arrival-available.arrival-prohibited .ui-state-default:before,
.availability-calendar[data-state="departure"] td.departure-available.departure-prohibited .ui-state-default:before,
.availability-calendar-help .legend-icon-not-allowed:before {
    content: "*";
    font-size: 0.65em;
    color: var(--conflict);
    vertical-align: super;
}

.availability-calendar-help .legend-icon-unavailable {
    background-color: var(--unavailable);
}

.availability-calendar-help .legend-icon-preselected {
    background-color: var(--preselected);
}

.availability-calendar-help .legend-icon-selected {
    background-color: var(--selected);
}

.availability-calendar-help .legend-icon-conflict {
    background-color: var(--conflict);
}
